/******************************************************************
タブレット
******************************************************************/
#content {
  // width: 80%;
  padding: 0 10vw;
  margin: 0 auto;
}

.main {
  &__img {
    // display: none;
    display: block;
    // background: url(../../images/main_bg.jpg) center top no-repeat;
    background-image: url(../../images/main_bg.jpg);
    min-height: 763px;
    background-size: 130%;
  }
  &__logo {
    top: 20px; //!
    left: 85px; //!
    height: 64px; //!
  }
  &__title {

  }
  &__catch {
    display: block;
    top: 10%;
    left: 12%;
    width: 80%;
    display: block;
    margin: 0 auto;

  }
  &__catch-sp {
    display: none;
  }
}

.product {
  &__description {
    font-size: 1.2rem;
  }
}
